<a href="https://colab.research.google.com/github/maneha234/Rider/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
f =pd.read_csv('price.csv')
print(f)

       area    price
0    2300.0  55000.0
1       NaN  65000.0
2    3500.0      NaN
3    4500.0      NaN
4       NaN      NaN
..      ...      ...
117     NaN      NaN
118     NaN      NaN
119     NaN      NaN
120     NaN      NaN
121     NaN      NaN

[122 rows x 2 columns]

In [ ]:
import numpy as np
import pandas as pd
print(f.head(3))

     area    price
0  2300.0  55000.0
1     NaN  65000.0
2  3500.0      NaN

In [ ]:
import numpy as np
import pandas as pd
print(f.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   area    3 non-null      float64
 1   price   2 non-null      float64
dtypes: float64(2)
memory usage: 2.0 KB
None

In [ ]:
import numpy as np
import pandas as pd
print(f.describe())

              area         price
count     3.000000      2.000000
mean   3433.333333  60000.000000
std    1101.514109   7071.067812
min    2300.000000  55000.000000
25%    2900.000000  57500.000000
50%    3500.000000  60000.000000
75%    4000.000000  62500.000000
max    4500.000000  65000.000000

In [ ]:
import numpy as np
import pandas as pd
print(f['price'])

0      55000.0
1      65000.0
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: price, Length: 122, dtype: float64

In [ ]:
import numpy as np
import pandas as pd
print(f.iloc[0,1])

55000.0

In [ ]:
import numpy as np
import pandas as pd
print(f.loc[1,'price'])

65000.0

In [ ]:
import numpy as np
import pandas as pd
print(f['price']>50000)

0       True
1       True
2      False
3      False
4      False
       ...
117    False
118    False
119    False
120    False
121    False
Name: price, Length: 122, dtype: bool

In [ ]:
import numpy as np
import pandas as pd
column_dict= {'area': 'Area'}
f.rename(columns=column_dict, inplace=True)
print(f)

       Area    price
0    2300.0  55000.0
1       NaN  65000.0
2    3500.0      NaN
3    4500.0      NaN
4       NaN      NaN
..      ...      ...
117     NaN      NaN
118     NaN      NaN
119     NaN      NaN
120     NaN      NaN
121     NaN      NaN

[122 rows x 2 columns]

In [ ]:
import numpy as np
import pandas as pd
# column_names=['Area']
# f= f.drop(columns=column_names)

In [ ]:
import numpy as np
import pandas as pd
f.sort_values('price')

       price
0    55000.0
1    65000.0
2        NaN
3        NaN
4        NaN
..       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN

[122 rows x 1 columns]

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
column_names = ['price']
scaler= StandardScaler()
f_scaled = scaler.fit_transform(f[column_names])
print(f['price'])
# print(f_scaled)

0      55000.0
1      65000.0
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: price, Length: 122, dtype: float64

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
column_names=['price']
scaler=MinMaxScaler()
f_normalized= scaler.fit_transform(f[column_names])
print(f_normalized)
print(f['price'])

[[ 0.]
 [ 1.]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]]
0      55000.0
1      65000.0
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: price, Length: 122, dtype: float64

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
def add_one(x):
  return x+2
f['new_column'] = f['price'].apply(add_one)
print(f.head())

     price  new_column
0  55000.0     55002.0
1  65000.0     65002.0
2      NaN         NaN
3      NaN         NaN
4      NaN         NaN

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
f=pd.DataFrame(f)
f.set_index('price', inplace = True)
print(f)
print(f.head())

         new_column
price
55000.0     55002.0
65000.0     65002.0
NaN             NaN
NaN             NaN
NaN             NaN
...             ...
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN

[122 rows x 1 columns]
         new_column
price
55000.0     55002.0
65000.0     65002.0
NaN             NaN
NaN             NaN
NaN             NaN

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
print(f)
# print(f.price.mean())

         new_column
price
55000.0     55002.0
65000.0     65002.0
NaN             NaN
NaN             NaN
NaN             NaN
...             ...
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN

[122 rows x 1 columns]

In [ ]:
from sqlalchemy.sql.expression import true
import numpy as np
import pandas as pd
#f['price'].fillna(f.price.mean())

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
f_dropped = f.dropna()
print(f)
print(f_dropped)

         new_column
price
55000.0     55002.0
65000.0     65002.0
NaN             NaN
NaN             NaN
NaN             NaN
...             ...
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN
NaN             NaN

[122 rows x 1 columns]
         new_column
price
55000.0     55002.0
65000.0     65002.0